@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// stałe

$random-color: rgb(random(256), random(256), random(256));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: rgb(random(255), random(255), random(255));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($random-color, 10%);
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0; /* Dodane, aby nagłówek zaczynał się od lewej strony */
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lighten($random-color, 10%);
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 30px;

  &-button {
    button {
      width: 300px;
      height: 100px;
      font-size: 20px;

      background-color: lighten($random-color, 10%);
    }
    button:hover {
      background-color: lighten($random-color, 20%);
    }
  }
}
